build/

*.yy.*

*.tab.*

scripts/__pycache__

*.o
*.output
*.out

.DS_Store
.vscode

tests/golden/
tests/output/
	
.~lock.*

tests/ibm/*.cir
tests/ibm/output/
tests/ibm/golden/

tests/course/*.cir
tests/course/output/
tests/course/golden/
tests/ibm_transient/*.cir
tests/ibm_transient/*.solution

*.solution